<nav class="nav">
    {% for navLink in navigation %}
        {% set entryLink = navLink.linkDestination.one() %}
        {% set activeLink = craft.app.request.segments|first == entryLink.uri%}
        <a href="{{ entryLink.url }}" class="nav__link {% if activeLink %}nav__link--active{% endif %}">{{ navLink.linkText }}</a>
    {% endfor %}
</nav>